html {
    box-sizing: border-box;
}

*,*:after, *:before {
    box-sizing: inherit;
}

/*body nie ma kropki !!! */

body {
    background: #2C2141;
    min-height: 100vh;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
} 


.card {
    background: #F8F8F8;
    border-radius: 16px;
    max-width: 624px;
    width: 100%;
    padding: 32px;
}

/*ułożenie zdjęcia i tekstu obok siebie*/

.person {
    display: flex;
    align-content: flex-start;
    min-width: 320px;
    width: auto;
}


.person__description {
    max-width: 380px;
    width: auto;
    font-size: 16px;
    line-height: 22px;
    
}

.person__header {
    max-width: 239px;
    width: auto;
    margin-bottom: 27px;
}

.person__link {
    color: #E20613;
    text-decoration: none;
}

.person__name {
    font-size: 36px;
    color: black;
    font-weight: normal;
    margin: 0;
}

/*odsunięcie tekstu od zdjęcia*/

.person__photo {
    margin-right: 32px;
    
}

.person__special {
    color: #ED6D05;
}

.person__title {
    color: #545454;
    font-size: 18px;
    font-style: italic;
}





